/*TODO: What is CSS */

/*TODO: 1030-CSS Fonts */

/* Global */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap");

/* Title */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/*TODO: 1028-CSS Selects All and General Reset.md */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Show Example */
  text-decoration: none;
  list-style-type: none;
  /*TODO: 1030-CSS Fonts */
  font-family: "Raleway", sans-serif;
}

/* style="text-align: center; font-size: 80px; margin: 60px" */
h1 {
  text-align: center;
  font-size: 96px;
  margin: 64px;
  /*TODO: 1030-CSS Fonts */
  font-family: "Dancing Script", cursive;
}
nav {
  text-align: center;
  margin-top: 50px;
}
nav ul {
  /*TODO: 1028-CSS Selects All and General Reset.md */
  /* list-style: none; */
  display: flex;
  justify-content: space-around;
}
nav ul a {
  /*TODO: 1028-CSS Selects All and General Reset.md */
  /* text-decoration: none; */

  /* ! Not imp */
  text-decoration: none;
}
nav ul a li {
  color: black;
}
footer nav {
  max-width: 500px;
  margin: auto;
}
/* TODO: HTML Elements ID there CSS selection  */

#mainNav {
  max-width: 400px;
  margin: 60px auto;
}

#mainNav,
#footerNav {
  text-transform: uppercase;
}
#socialNav ul i {
  font-size: 32px;
  color: black;
}

/* TODO: HTML Elements Classes and there CSS selection */

.nav-item {
  color: gray;
}
.nav-item.active {
  color: black;
  /* Todo: CSS Colors */
  color: #000;
  color: rgb(253, 0, 0);
}
/* Todo: CSS Colors */
.img-description {
  background-color: #e0c0a9;
  /* transform color */
  background-color: rgb(224, 192, 169);
}
.img-description p {
  color: #333;
}
.img-description button {
  background-color: #000;
  text-transform: uppercase;
}
.img-description a {
  color: #fff;
}
/* TODO: CSS Backgrounds */

/* todo: Background-color + opacity VS Transparency using RGBA */

footer {
  /* background-color: rgb(224, 192, 169);
  opacity: 0.3; */

  /*! VS */
  background: rgba(224, 192, 169, 0.3);
}

.post-img-1 {
  background-image: url("./img/blogPos-1.jpg");
  height: 213px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-position: center;
  width: 320px;
  /* transition: 1s ease; */
}

/* TODO:1026-CSS Borders  */

.post {
  /* todo: Border Style */
  border-style: dashed;
  border-style: solid;
  /*todo: CSS Border Width */
  border-width: 1px;
  border-width: 1px 1px 0 1px;
  /* todo: CSS Border Color */
  border-color: red;
  border-color: #d9d9d9;
  /*todo: CSS Border Shorthand */
  border: 1px solid #d9d9d9;
  /*todo: CSS Border Radius */
  border-radius: 15px;
  border-radius: 15px 10px 1px 50%;
  border-radius: 0;
  border: none;
  /*TODO:  1027-CSS Margins and Paddings */
  margin-top: 16px;
  margin-bottom: 16px;
  /* etc. */
  margin: 16px 16px;
  margin: 16px;
  padding: 16px;
  padding: 0;
}

/* todo: CSS Padding */
.post h4 {
  padding: 24px;
}

footer {
  padding: 64px;
}
footer #footerNav,
footer #socialNav {
  margin-bottom: 64px;
}
.btn {
  align-items: center;
  margin: 64px auto;
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
}

/*TODO: 1029-Text Formatting*/

footer p {
  color: #333;
  text-align: center;
  /* optional */
  /* text-decoration: underline; */
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 2px;
}
footer p a {
  color: #333;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Add class of subtitle to all h2 */

.subtitle {
  text-align: center;
  font-size: 36px;
  margin: 72px 0;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
}
.img-description p {
  /*TODO: 1030-CSS Fonts */
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  text-align: center;
  padding: 32px;
}
/* TODO: 1031-CSS Height, Width and Max-width */

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 16px;
}
.post {
  /* max-width: 250px; */
  width: 322px;
  height: 300px;
}

.img-description {
  height: 600px;
  width: 400px;
}
/* TODO: 1032-CSS Pseudo-class */

nav ul a li:hover {
  color: #000;
  font-weight: 500;
}

/* nav ul a li:link {
  color: #ff0000;
} */

nav ul a li:active {
  color: #4f4fcf;
}

.post h4:hover {
  color: #4f4fcf;
  cursor: pointer;
}
.post h4:active {
  color: #85ca85;
}

/*todo: Ex: */

/* #footerNav a:first-child {
  background: red;
}
#footerNav a:last-child {
  background: blue;
} */

/*todo: Ex: */
/* 
#socialNav a:first-child i {
  color: #c32aa3;
} */

#socialNav a:first-child i:hover {
  color: #c32aa3;
}
#socialNav a:last-child i:hover {
  color: #bd081c;
}
#socialNav a:nth-child(2) i:hover {
  color: #ff0000;
}
#socialNav a:nth-child(3) i:hover {
  color: #1da1f2;
}
#socialNav a:nth-child(4) i:hover {
  color: #1877f2;
}

.btn:hover {
  background-color: lightgray;
  color: #333;
  cursor: pointer;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
}
.btn:active {
  box-shadow: none;
}
/*TODO: 1033-CSS Pseudo-element */

/* .post h4::before {
  content: "Before ";
}
.post h4::after {
  content: " After  ";
} */

.post :hover::after {
  content: "...read more  ";
}

/*TODO: 1034-CSS Layout - The position Property  */

/* #mainNav {
  position: fixed;
  position: sticky;
  position: static;
  top: 0;
  width: 100%;
  height: 100px;
  margin: 30px auto;
  text-align: center;

  z-index: 1;
} */

section {
  position: relative;
}
section h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 240px;
  background-color: #000;
  top: calc(32px + 16px);
  margin: auto;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
}
/*TODO:  1035-CSS Flexbox */

#About {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 64px auto;
}
.img-description {
  display: flex;
  flex-direction: column;
}

.posts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 64px auto;
}
.post {
  box-shadow: 0 0 45px 4px rgba(109, 109, 109, 0.3);
}

/* TODO: 1036-CSS Grid Layout Module */

.podcast-container {
  display: grid;
  /* grid-template-columns: 400px 200px 200px;
  grid-template-columns: 40% 30% 30%; */
  grid-template-columns: 2fr 1fr;
  grid-template-columns: 500px 300px;

  grid-template-rows: auto 150px;
  justify-content: center;
  /* align-items: center; */
  gap: 32px 16px;
  margin-bottom: 64px;
}
.podcast-description {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.podcast-episodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.podcast-episodes h3 {
  margin-bottom: 16px;
}
/* TODO: 1040-CSS Forms input label & more */

form {
  /* Create input fields */
  display: flex;
  flex-direction: column;
  width: 300px;

  /* max-width: 400px; */
}
form h3 {
  text-align: center;
  margin-bottom: 24px;
}
form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
form .input-group label {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  color: gray;
}

form .input-group input {
  border: none;
  border-bottom: 1px solid #333;
  padding-bottom: 0.4rem;
  outline: none;
}
form .input-group input:focus {
  border-bottom: 1px solid #85ca85;
}
form .input-group input::placeholder {
  color: #000;
  font-weight: 500;
}
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
label[for="checkbox"] {
  font-size: 0.8rem;
}
label[for="checkbox"]:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1877f2;
}
input[type="submit"] {
  background: rgba(224, 192, 169, 0.3);
  width: 100%;
  margin-top: 32px;
}
/* TODO: 1041 - Contact Infos : Email, Phone, Fax, Address and Webpage */

.contact-info h3 {
  text-align: center;
  margin-bottom: 24px;
}
.contact-info li {
  margin-bottom: 8px;
}
.contact-info a {
  color: #000;
}
.contact-info i {
  color: rgba(224, 192, 169);
  margin-right: 16px;
}
#contacts {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 32px;

  justify-content: center;

  padding-top: 2rem;
}

/* TODO: # 1042-CSS Transitions.md */
/* Copy from nav */
nav ul a li:hover {
  color: #000;
  font-weight: 500;
  /* transition in */
  transition: 0.3s ease;
}
nav ul a li {
  /* transition out */
  transition: 0.3s ease;
}

.img-description a {
  color: #fff;
}

.img-description button:hover,
.img-description button {
  /* with delay */
  transition: all 0.5s ease 0.3s;
}
/* .img-description button:hover a {
  color: #000;
} */
/* TODO: 1043-CSS Image Reflection */
#About img {
  -webkit-box-reflect: right 32px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* TODO: 1044-CSS 2D Transforms.md */

h1 {
  transform: translateX(100px);
  transform: translateY(-100px);
  transform: translate(100px);
  transform: rotate(9deg);
  transform: rotate(-9deg);
}

.post img:hover {
  transform: scale(0.5);

  transition: 0.3s ease;
}

/*! Bast Practice */
.post-img-1:hover {
  background-size: 110%;
  transition: 0.3s ease;
}
.post-img-1 {
  transition: 0.3s ease;
}
.post-img-2 {
  background-image: url("./img/blogPos-2.jpg");
  height: 213px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-position: center;
  width: 320px;
}
.post-img-3 {
  background-image: url("./img/blogPos-3.jpg");
  height: 213px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-position: center;
  width: 320px;
}
.post-img-2:hover,
.post-img-3:hover {
  cursor: pointer;
  background-size: 110%;
  transition: 0.3s ease;
}
.post-img-2,
.post-img-3 {
  transition: 0.3s ease;
}

/* TODO: 1045 CSS Animations */

h1 {
  animation: title-animation 0.8s ease-in;
}
@keyframes title-animation {
  0% {
    /* transform: translate(-100%); */
    opacity: 0;
  }
  100% {
    /* transform: translate(0); */
    opacity: 0.5;
  }
}

/*TODO: 1046 CSS Media Queries */

@media screen and (max-width: 860px) {
  /* body {
    background-color: lightblue;
  } */

  #About img {
    display: none;
  }
  .img-description {
    background: url(./img/profileImg.jpg)
      no-repeat center;
    background-size: 100%;
  }

  .img-description::before {
    content: "";
    position: absolute;
    background: rgba(224, 192, 169, 0.63);
    width: 400px;
    height: 100%;
    /* filter: blur(5px); */
    z-index: 1;
  }
  .img-description p,
  .img-description button {
    /* color: #fff; */
    z-index: 2;
  }
  .podcast-container {
    grid-template-columns: 400px;
    text-align: center;
  }
}
